<h1>Обзор №{{ review.id }}</h1>

{{ review.date }}<br>
{{ review.user_name }}<br>
{{ review.place.name }}<br>

<form action="/review_detail/" method="post">{% csrf_token %}
{% for card in cards %}
<p>{{ card.classif.name }}, {{ card.name }}, {{ card.base_price }}<input type="text" name="{{ card.id }}">, {{ card.price_link.price }}</p>
{% endfor %}
        <input type="submit" value="Сохранить">
</form>


{% for x in price_link %}
<p>{{ x.price }}, {{ x.sku }}, {{ x.review }}, {{ x.review.date }}, {{ price_link }}</p>
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/review/{{ review.id }}/send/" method="post">
{% csrf_token %}
{% for card in cards %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ card.name }}" />
    <label for="review{{ forloop.counter }}">{{ card.name }}</label><br />
{% endfor %}
<input type="submit" value="Сохранить" />
</form>