{% extends "main/base.html" %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Place_form.html</p>
<p>Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {% if form %}
        	{% for field in form %}
        		<div class="fieldWrapper">
        		{{ field.errors }}
        		{{ field.label_tag }}: {{ field }}
    			</div>
        	{% endfor %}	
        {% endif %}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}

{{ form.initial.field_name}} 
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">К началу...</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Назад...</button>
{% endif %}
<input type="submit" value="Продолжить..."/>
</form>
{% for card in cards %}
{{ card.name }} куку
{% endfor %}
{% endblock %}