<!DOCTYPE html>
<html>
<head>
<title>Review Add</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

<style type="text/css">


</style>

</head>

<body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <h1>Review add</h1>

    {% if errors %}
        <ul style="color: red">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/review_add/" method="post">{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
    </div>
{% endfor %}        
        <input type="submit" value="Продолжить...">
    </form>
</body>
</html>